<div class="containerr">
    <div class="nav_container">
  <img src="../assets/reshape_logo.svg">
    </div>
    <div class="container_body">
      <div class="container_head">
        <h1>Flatten JSON</h1>
        <p>Flatten an arbitarily nested Json structure into a flat Json structure using intelligent relational break down</p>
      </div>
      <div class="container_main">
        <div class="paste_text">
        <!-- <button type="button" class="btn btn-light file">Upload File</button> -->
        <div class="button-wrap">
          <label class="button" for="upload">Upload File</label>
          <span>{{fileName}}</span>
          <input id="upload" type="file" (change)="fileChange($event)">
          
        </div>
        <a class="btn btn-clear" title="Download JSON" [href]="downloadJsonHref" download="download.json"></a>
      <p class="file_p" (click)="opentextArea()">or paste text</p>
      </div>
      <div *ngIf="textArea">
        <textarea [(ngModel)]="jsonData" class="text_area"></textarea>
      </div>
      <div class="actions">
        <button type="button" class="btn btn-light" (click)="format()">Format</button>
        <button type="button" class="btn btn-light" (click)="getCSV()">Convert to CSV</button>
        <button type="button" class="btn btn-light" (click)="getFlatten()">Flatten Relatioal</button>
        <button type="button" class="btn btn-light" (click)="getFlattenTraditional()">Flatten Traditional</button>
      </div>
      <!-- <pre>{{formatedText | json}}</pre> -->
     <div *ngIf="formatJson" class="format-json"> <pre [innerHTML]="formatedText | prettyjson: [true, 3]"></pre></div>
      <div class="download" *ngIf="isDownloadReady">
        <span>Your Json content has successfully flattened and your processed output is ready</span>
        <a class="btn btn-clear" title="Download JSON" [href]="downloadJsonHref" download="output.json">Download result</a>
      </div>
    </div>
    </div>
    <svg style="margin-bottom: -5px; margin-top: -20px;background-color:white" preserveAspectRatio="none" viewBox="0 0 100 100" height="100" width="100%" version="1.1" class="curve-up-separator">
      <path d="M0 100 C 20 0 50 0 100 100 Z" fill="#f5f5f5" stroke="transparent"></path>
    </svg>
    <div class="container-info">
     <h1>How does it work?</h1>
     <h2>How does flattening a Json relationally work?</h2>
     <p>Converts a Json document into multiple documents based on the internal structure. <br>
       If the JSON has arrays inside, then it will be transformed into multiple rows retaining thre relation with it's neighbours</p>
    </div>
    <svg style="height: auto; margin-bottom: -10px;" class="col-12 text-white absolute bottom-0" viewBox="0 0 1200 46">
      <path d="M0-7h1200v53H0V-7zm0 30.113V-7h1200v43.495c-37.762 7.58-155.36 7.58-352.791 0C721.412 31.665 480.68.297 248.535.355 197.087.368 114.242 7.955 0 23.113z" fill-rule="evenodd" fill="#FFF"></path>
    </svg>
  
    </div>
  