<div class="containerr">
    <div class="nav_container">
  <img src="../assets/reshape_logo.svg">
    </div>
    <div class="container_body">
      <div class="container_head">
        <h1>Flatten JSON</h1>
        <p>Flatten an arbitarily nested Json structure into a flat Json structure using intelligent relational break down</p>
      </div>
      <div class="container_main">
        <div class="paste_text">
        <button type="button" class="btn btn-light file">Upload File</button>
        <p class="file_p" (click)="opentextArea()">or paste text</p>
      </div>
      <div *ngIf="textArea">
        <textarea class="text_area"></textarea>
      </div>
      <div class="actions">
        <button type="button" class="btn btn-light">Format</button>
        <button type="button" class="btn btn-light">Inspect</button>
        <button type="button" class="btn btn-light">Convert to CSV</button>
        <button type="button" class="btn btn-light">Flatten Relatioal</button>
        <button type="button" class="btn btn-light">Flatten Traditional</button>
      </div>
    </div>
    </div>
    <div class="container-info">
     <h1>How does it work?</h1>
     <h2>How does flattening a Json relationally work?</h2>
     <p>Converts a Json document into multiple documents based on the internal structure. <br>
       If the JSON has arrays inside, then it will be transformed into multiple rows retaining thre relation with it's neighbours</p>
    </div>
  
    </div>
  